<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YouTube Channel Id</title>
    <style>
      h1 {
        color: green;
      }
      input {
        width: 200px;
        height: 20px;
        margin: 10px;
      }
    </style>
  </head>
  <body>
    <center>
      <h1>GeeksforGeeks</h1>
      <form name="myform" method="post" action="/channel-id">
        <input
          type="text"
          name="url"
          placeholder="Enter channel URL"
          required
        />
        <br />
        <button type="submit">Get Channel Id</button>
      </form>
    </center>
  </body>
</html>
